* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gayathri', sans-serif;
}

a {
  text-decoration: none;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.primary-btn {
    padding: 10px;
    line-height: 30px;
    background-color: rgb(48, 72, 143);
    color: #fff;
    border-radius: 10px;
    border: none;
}
