* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $text_color;
  font-family: 'Gayathri', sans-serif;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.login-btn {
  padding: 0 20px;
  line-height: 35px;
  background-color: #30488f;
  color: $color_white;
  border-radius: 7px;
  border: none;
}

.login-btn:hover {
  background-color: #24376d;
}

button {
  cursor: pointer;
}

.margin_top_30 {
  margin-top: 30px;
}

.margin_bottom_30 {
  margin-bottom: 30px;
}
